@import '../node_modules/tailwindcss/base.css';
@import '../node_modules/tailwindcss/components.css';
@import '../node_modules/tailwindcss/utilities.css';

.friend-request-container {
    transition: opacity 1.5s ease, visibility 1.5s ease; /* Adjust the duration and timing function as needed */
}

/* FriendRequestList component styles */
.friend-request-list {
    transition: opacity 1s ease; /* Adjust the duration and timing function as needed */
}

.verticaltext {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 0.5em;
}

.error-indicator {
    position: relative;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    right: 4%;
    display: inline-block;
    width: 0;
}

.error-indicator::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #e53e3e;
    white-space: nowrap;
    left: 1.5rem;
    top: 0;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    font-size: 0.6em;
    transition: visibility 0s, opacity 0.3s ease;
    z-index: 1;
}

.error-indicator:hover::after {
    visibility: visible;
    opacity: 1;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.se-workspace {
    display: flex;
    flex-direction: column;
}

.se-widget {
    height: 100%;
}


